@import '../Styles/variables.scss';

header {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    color: $colour_6;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    font-family: $font_2;
    font-size: 2.5rem;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    background-color:$colour_2;
}

.menuBtn {
    align-self: flex-start;  
    color: $colour_1;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
}


@media only screen and (max-width: 34rem) {
    header {
      font-size: 1.5rem;
    }
    .menuBtn {
        display: none;
    }
  }
  
  @media only screen and (min-width: 35rem) and (max-width: 48rem) {
    header {
        font-size: 2rem;
      }
  
  }