@import "../Styles/variables.scss";

main {
  font-size: 10px;
  font-family: $font_1;
  width: 100%;
  flex-grow: 1;
}

p {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
}

.header-container {
  width: 100%;
}

.loading-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

.loading-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.loading-text {
  margin: 5px;
  font-size: 0.7rem;
}

h2 {
  margin: 0;
  padding: 2rem;
  font-size: 2rem;
  font-family: $font_3;
  text-align: left;
  color: $colour_5;
}

.page-text {
  margin: 0;
  padding: 0 2rem 2rem 2rem;
  font-size: 1rem;
  font-family: $font_3;
}

.breeds-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0;
}

.animal-card-wrapper {
  width: 25rem;
  height: 32rem;
  margin: 10px;
  border: 2px solid $colour_4;
  background-color: $colour_3;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgb(94, 78, 69);
}

.container1 {
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px;
  background-color: $colour_5;
}

.animal-name {
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: $font_3;
}

.animal-name-small {
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: $font_3;
}

.container2 {
  display: flex;
  width: auto;
  height: 15rem;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 5px;
  background-color: $colour_2;
}

.image-tallHeight-longWidth {
  display: flex;
  width: auto;
  max-height: 13rem;
  border-radius: 4px;
  margin: 0 auto;
}

.image-tallHeight-shortWidth {
  display: flex;
  width: auto;
  max-height: 13rem;
  border-radius: 4px;
  margin: 0 auto;
}

.image-shortHeight-longWidth {
  display: flex;
  max-width: 18rem;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
}

.image-shortHeight-shortWidth {
  display: flex;
  max-width: 18rem;
  max-height: 13rem;
  border-radius: 4px;
  margin: 0 auto;
}

#image:hover {
  transform: scale(2);
}

.container3 {
  width: auto;
  height: 4rem;
  text-align: left;
  padding: 5px;
  background-color: $colour_3;
  font-size: 0.8rem;
  color: $colour_4;
  font-family: $font_1;
}

.descriptors {
  font-weight: bold;
  font-family: $font_3;
}

.container4 {
  width: auto;
  max-height: 9rem;
  height: auto;
  text-align: left;
  padding: 5px;
  background-color: $colour_3;
  font-size: 0.8rem;
  font-family: $font_1;
}



/* Breakpoints */

@media only screen and (max-width: 34rem) {
  .wrapper {
    flex-direction: column;
  }
 h2 {
    padding: 1rem;
  }
  .animal-card-wrapper {
    width: 16rem;
    height: 36rem;
  }
  .animal-name {
    font-size: 1.2rem;
  } 
  .image-tallHeight-longWidth {
    max-height: 9rem;
  }
  .image-tallHeight-shortWidth {
    max-height: 9rem;
  }
  .image-shortHeight-longWidth {
    max-width: 15rem;
  }
  .image-shortHeight-shortWidth {
    max-width: 15rem;
    max-height: 9rem;
  }
}
