@import '../Styles/variables.scss';

.sidenav {
    min-height: 100vh;
    width: 140px;
    transition: width 0.3s ease-in-out;
    height: auto;
    background-color: $colour_3;
    
}
.sidenavClosed {
    min-height: 100vh;
    height: auto;
    background-color: $colour_3;
    transition: width 0.3s ease-in-out;
    width: 80px;
}
.dropdown {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    background-color: $colour_3;
}

.dropdownClosed {
    display: none;
    height: auto;
    background-color: $colour_3;
    transition: width 0.3s ease-in-out;
    width: 80px;
}


.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    background-color: $colour_3;
    border: none;
}

.sideitem:hover {
    background-color: $colour_2;
}

#nav-button {
    width: 100%;
}

%commonStyleLink {
    color: black;
    font-family: $font_1;
}

%commonStyleLinkClosed {
    padding-left: 16px;
    display:none;
}

.linkText {
   @extend %commonStyleLink;
   font-size: 1rem;
   padding-left: 16px;
}

.dropDownText {
    @extend %commonStyleLink;
    font-size: 0.8rem;
    padding-left: 0;
}

.linkTextClosed, .dropDownTextClosed {
    @extend %commonStyleLinkClosed;
}


/* Breakpoints */

@media only screen and (max-width: 34rem) {
    .sidenav {
        min-height: 2.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sideitem {
        padding: 4px 3px 3px 3px;
        width: auto;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .linkText {
        padding: 0 8px 0 8px;
    }
    .dropdown {
        padding: 5px;
    }
    svg {
        padding-left: 8px;
        width: 30px;
        height: 30px;
    }
    .compact {
        display: flex;
        flex-direction: column;
    }
}
