$background :#4ABDAC;
$header: #F7B733;
$navbar: #FB4B1A;
$subheading: #FFFFFF;
$title: #FFFFFF;
$apptitle: #DFDCE3;

$font_1: 'Heebo', sans-serif;
$font_2: 'Shrikhand', cursive;
$font_3: 'Courier Prime', monospace;