$colour_1 :#C8BB6D;
$colour_2: #FFA800;
$colour_3: #A18023;
$colour_4: #483D37;
$colour_5: #A25328;
$colour_6: #FFD95A;

$font_1: 'Heebo', sans-serif;
$font_2: 'Shrikhand', cursive;
$font_3: 'Courier Prime', monospace;